body {
    background-color: #b2d8d8;
}

#mainPage {
    background-size: contain;
}

.navbar {
    background-color: #008080;
}

#mainPage > div {
    height: 500px;
}

#headshot {
    width: 70%;
    max-height: auto;
    margin: 40px
}

#introductionCard {
        max-width: 700px;
}

.card {
    margin-top: 50px;
}

.btn {
    background-color: #66b2b2;
    border-color: #66b2b2;
}

#footer {
    background-color:#008080;
    height: 100px;
}

#footer p {
    margin-top: 40px;
}