<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio home</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Rommel Aranguren. MEAN stack.</h1></a>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../assets/CVpicture.png" id="headshot" class="rounded-circle" alt="headshot">
            </div>
            <div class="col-lg-7" id="card">
                <h1>Fullstack developer</h1>
                <p>MEAN stack.</p>
                <div class="card">
                    <h2 class="card-header">Frontend:</h2>
                    <div class="card-body">
                      <h5 class="card-title">HTML, CSS, Bootstrap, and Angular.</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Go to portfolio</a>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Backend:</h2>
                    <div class="card-body">
                      <h5 class="card-title">Javascript and Typescript, Node.js, Express, and more.</h5>
                      <p class="card-text"></p>
                      <a href="#" class="btn btn-primary">Go to portfolio</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>