<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio home</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><h1>Rommel Aranguren. MEAN stack.</h1></a>
        </div>
    </nav>
    
    <div id="mainPage" class="container-fluid">
        <div class="row">
            <div class="col-lg-5">
                <img src="../../assets/CVpicture.png" id="headshot" class="rounded-circle" alt="headshot">
            </div>
            <div class="col-lg-7" id="introductionCard">
                <h1>Welcome to my portfolio!</h1>
                <p>I'm a medical student experienced in administration, customer care, sales, and teaching. I am pursuing a career in Web Development, focusing of Backend programming. I am looking for a challenging position that will allow me to continue developing my skills, always prioritizing efficiency, proactivity, and best practices. In the future, I seek to merge my medical knowledge with programming, paving the way for progress in the scientific field.</p>
                <div class="card">
                    <h2 class="card-header">Frontend:</h2>
                    <div class="card-body">
                      <h5 class="card-title">HTML, CSS, Bootstrap, and Angular.</h5>
                      <p class="card-text"></p>
                      <a href="https://github.com/yukatana/portfolio" target="_blank" class="btn btn-primary">Go to portfolio <i class="bi bi-github"></i></a>
                    </div>
                </div>
                <div class="card">
                    <h2 class="card-header">Backend:</h2>
                    <div class="card-body">
                      <h5 class="card-title">Javascript and Typescript, Node.js, Express, and more.</h5>
                      <p class="card-text"></p>
                      <a href="https://github.com/yukatana/backend-portfolio" target="_blank" class="btn btn-primary">Go to portfolio <i class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footer" class="container-fluid">
        <div class="row">
            <div  class="col-sm-12 text-center">
                <h5>© Rommel Aranguren - 2022</h5>
            </div>
        </div>
    </div>
    
</body>
</html>